.cu-fixed {
	.cu-fixed-box {
		position: relative;
		width: 100%;
		&.fixed {
			position: fixed;
		}
		.cu-fixed-content {
			position: relative;
		}
		.cu-fixed-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 1;
			pointer-events: none;
		}
	}
}
