<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,viewport-fit=cover">
		<link rel="alternate icon" type="image/png" href="<%= BASE_URL %>static/favicon.png">
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<!-- 正式发布的时候使用，开发期间不启用。↓ -->
		<script src="<%= BASE_URL %>static/touch-emulator.js"></script>
		<script>
            TouchEmulator();
			// if (document.documentElement.clientWidth > 1024) {
			// 	window.location.href = '<%= BASE_URL %>static/pcguide.html#'+location.pathname+location.search;
			// }
		</script>
		<!-- 正式发布的时候使用，开发期间不启用。↑ -->
		
		<style>
		    ::-webkit-scrollbar{
		        display: none;
		    }
		</style>
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.css" />

	</head>
	<body>
		<noscript>
			<strong>Please enable JavaScript to continue.</strong>
		</noscript>
		<div id="app"></div>
		<script>
			window.onload = function() {
				console.log("Development support：color-ui.com");
			}
		</script>
	</body>
</html>
