.cu-tag {
  font-size: 20rpx;
  vertical-align: middle;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0rpx 16rpx;
  height: 48rpx;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  white-space: nowrap;

  &:not([class*='bg']):not([class*='line']) {
    background-color: #f1f1f1;
  }

  &[class*='line-']::after {
    content: ' ';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1rpx solid currentColor;
    transform: scale(0.5);
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: inherit;
    z-index: 1;
    pointer-events: none;
  }

  &.radius[class*='line']::after {
    border-radius: 12rpx;
  }

  &.round[class*='line']::after {
    border-radius: 1000rpx;
  }

  &[class*='line-']::after {
    border-radius: 0;
  }

  & + & {
    margin-left: 10rpx;
  }

  &.sm {
    font-size: 20rpx;
    padding: 0rpx 12rpx;
    height: 32rpx;
  }

  &.badge {
    border-radius: 200rpx;
    position: absolute;
    top: -5rpx;
    left:calc(100% - #{10rpx});
    font-size: 20rpx;
    padding: 0rpx 10rpx;
    height: 28rpx;
    color: var(--white);
  }

  &.badge:not([class*='bg-']) {
    background-color: #dd514c;
  }

  &:empty:not([class*='icon']) {
    padding: 0rpx;
    width: 16rpx;
    height: 16rpx;
    top: -4rpx;
    right: -4rpx;
  }

  &[class*='icon'] {
    width: 32rpx;
    height: 32rpx;
    top: -4rpx;
    right: -4rpx;
  }
}
.cu-capsule {
  display: inline-flex;
  vertical-align: middle;

  & + & {
    margin-left: 10rpx;
  }

  .cu-tag {
    margin: 0;

    .cu-tag[class*='line-']:last-child::after {
      border-left: 0rpx solid transparent;
    }

    .cu-tag[class*='line-']:first-child::after {
      border-right: 0rpx solid transparent;
    }
  }

  &.radius {
    .cu-tag:first-child {
      border-top-left-radius: 6rpx;
      border-bottom-left-radius: 6rpx;
    }

    .cu-tag:last-child::after,
    .cu-tag[class*='line-'] {
      border-top-right-radius: 12rpx;
      border-bottom-right-radius: 12rpx;
    }
  }
  &.round {
    .cu-tag:first-child {
      border-top-left-radius: 200rpx;
      border-bottom-left-radius: 200rpx;
      text-indent: 4rpx;
    }
    .cu-tag:last-child::after,
    .cu-tag:last-child {
      border-top-right-radius: 200rpx;
      border-bottom-right-radius: 200rpx;
      text-indent: -4rpx;
    }
  }
}
