.cu-nav {
	white-space: nowrap;
	position: relative;
	.item {
		display: inline-block;
		vertical-align: middle;
		padding: 20rpx;
		&.cur {
			color: var(---main-a);
		}
		.cu-nav-item-content:hover {
			cursor: pointer;
		}
	}
	&.dot{
		.nav-dot {
			position: absolute;
			bottom: 0;
			border-radius: 12rpx;
			height: 10rpx;
			min-width: 30rpx;
			margin-left: -15rpx;
			transition: 0.3s;
			background-color: var(---main-a);
		}
	}
	&.btnGroup{
		.item {
			 
		}
	}
}
