cu-tab {
	display: block;
}

[class*='bg-']:not([class*='bg-white']):not([class*='-light']):not([class*='bg-gray']) .cu-tab:not([class*='segment']) .item,
[class*='-gradient'] .cu-tab:not([class*='segment']) .item {
	color: #ffffff !important;
	.cu-btn:not([class*='bg']) {
		color: #ffffff !important;
	}
}

.cu-tab {
	display: flex;
	align-items: center;
	white-space: nowrap;
	.item {
		display: inline-block;
		position: relative;
		padding: 0 20rpx;
		height: 100rpx;
		color: #666666;
		line-height: 100rpx;
		&:first-child  {
			margin-left: 10rpx;
		}
		&:last-child  {
			margin-right: 10rpx;
		}
		.text {
			display: inline-block;
			margin: 0 8rpx;
			position: relative;
			z-index: 3;
			opacity: 0.9;
		}
		[class*='icon'] {
			position: relative;
			z-index: 2;
		}
		.badge {
			top: 10rpx;
			z-index: 3;
		}
		.cu-tab-dot {
			position: absolute;
			z-index: 0;
			height: 6rpx;
			bottom: 15rpx;
			left: 0;
			right: 0;
			width: 50rpx;
			margin: auto;
			opacity: 0;
			&.border {
				bottom: 0;
				border-radius: 0;
				width: 100%;
				height: 6rpx;
			}
			&.border.shadow {
				transform: rotate(180deg);
			}
			&.dam {
				bottom: 0;
				border-radius: 6rpx 6rpx 0 0;
				width: 80rpx;
				height: 6rpx;
			}
			&.arrow {
				bottom: -10rpx;
				border-radius: 6rpx 0 0 0;
				width: 20rpx;
				height: 20rpx;
				transform: rotate(45deg);
			}
			&.light {
				bottom: 0rpx;
				border-radius: 6rpx 0 0 0;
				width: 50%;
				height: 60%;
				filter: blur(10px);
				transform: perspective(10px) rotateX(10deg);
			}
		}
		&.cur {
			view.text {
				transform: scale(1.2);
				margin: 0 10rpx;
				font-weight: bold;
				opacity: 1;
			}
			.cu-tab-dot {
				opacity: 1;
				&.light {
					opacity: 0.5;
				}
			}
		}
	}
	&.center {
		justify-content: center;
		text-align: center;
	}
}
.cu-tab.button {
	.item {
		padding: 0 6rpx;
		.cu-btn {
			padding: 0 14rpx;
		}
		&.cur {
			view.text {
				transform: scale(0.9);
				margin: 0 5rpx;
				font-weight: normal;
			}
			.cu-btn.button-hover {
				transform: translate(0, 0);
			}
		}
	}
}

[class*='bg-']:not([class*='bg-white']):not([class*='-light']):not([class*='bg-gray']) .cu-tab.segment .item,
[class*='-gradient'] .cu-tab.segment .item {
	border: solid #ffffff;
	background-color: transparent;
	border-width: 1px 1px 1px 0px;
	&:first-child  {
		border: 1px solid #ffffff;
	}
	.text {
		color: #ffffff;
	}
	&.cur {
		background-color: #ffffff;
		view.text {
			color: currentColor;
		}
	}
}
.cu-tab.segment {
	height: 100rpx;
	.item {
		padding: 0 20rpx;
		border: solid currentColor;
		border-width: 1px 1px 1px 0px;
		background-color: transparent;
		height: 60rpx;
		line-height: 60rpx;
		margin-top: 20rpx;
		color: currentColor;
		&:first-child  {
			border: 1px solid currentColor;
			border-top-left-radius: 6rpx;
			border-bottom-left-radius: 6rpx;
		}
		&:last-child  {
			border-top-right-radius: 6rpx;
			border-bottom-right-radius: 6rpx;
		}
		.text {
			margin: 0rpx;
			color: currentColor;
		}
		&.cur {
			background-color: currentColor;
			view.text {
				color: #ffffff;
				transform: scale(1);
				margin: 0rpx;
				font-weight: normal;
			}
		}
	}
}

.cu-tab.slider {
	height: 80rpx;
	padding: 5px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	.item {
		display: inline-block;
		padding: 0 20rpx;
		height: 60rpx;
		color: #666666;
		line-height: 60rpx;
		margin: 0px !important;
		box-sizing: border-box;
		.text {
			margin: 0;
			background: transparent !important;
			box-shadow: none !important;
		}
		&.cur {
			view.text {
				transform: scale(1);
				margin: 0;
				font-weight: normal;
			}
		}
	}
	.cu-tab-slider {
		position: absolute;
		top: 10rpx;
		height: 60rpx;
		margin: auto;
		transition: 0.3s;
	}
}
.round .cu-tab.slider .cu-tab-slider {
	border-radius: 5000rpx;
}
.radius .cu-tab.slider .cu-tab-slider {
	border-radius: 6rpx;
}
cu-tabbd {
	display: block;
}
.cu-tabbd {
	overflow: hidden;
	.cu-tabbd-box {
		display: flex;
		transition: 0s;
		.body {
			flex: 1;
			height: 0;
			transition: 2s;
			&.cur {
				height: auto;
			}
		}
	}
	&.swiper {
		.cu-tabbd-box {
			transition: 0.3s;
		}
	}
}
