.cu-demo {
	border: 1rpx solid var(--border-color);
	border-radius: $radius-sm;
  &:hover{
    box-shadow: $shadow-base;
  }
	.cu-demo-view {
		padding: 30rpx;
	}
	.cu-demo-nav{
		border-top: 1rpx dashed var(--border-color);
		padding: 30rpx;
	}
	.cu-demo-box{
		overflow: hidden;
		transition: $transition-base;
		&.show{
			max-height: 100vh;
		}
		&.hide{
			max-height: 0vh;
		}
	}
	.cu-demo-more{
		border-top: 1rpx dashed var(--border-color);
		padding: 30rpx;
		text-align: center;
	}
	.cu-demo-code {
		border-top: 1rpx dashed var(--border-color);
		padding: 0;
		.cu-code.pre{
			margin: 0;
			border-radius:  0 0  $radius-sm  $radius-sm;
			.cu-btn.copy-btn{
				border-radius: 0 0 0 $radius-sm;
			}
		}
	}
}
