	.cu-tabbar-box {
		.cu-tabbar {
			padding: 10rpx;
			display: flex;

			.tabbar-item {
				text-align: center;
				flex: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				.tabbar-icon {
					height: 60rpx;
					width: 60rpx;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 45rpx;

					// background-color: #f1f1f1;
					image {
						width: 100%;
						height: 100%;
					}
				}

				.tabbar-text {
					font-size: 24rpx;
				}
			}
		}
	}