/* ==================
          头像
 ==================== */
.cu-avatar {
	font-variant: small-caps;
	margin: 0;
	padding: 0;
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
	color: white;
	white-space: nowrap;
	position: relative;
	width: 64rpx;
	height: 64rpx;
	background-size: cover;
	background-position: center;
	vertical-align: middle;
	font-size: 1.5em;
	&.sm {
		width: 48rpx;
		height: 48rpx;
		font-size: 1em;
	}
	&.ls {
		width: 80rpx;
		height: 80rpx;
		font-size: 1.75em;
	}

	&.lg {
		width: 96rpx;
		height: 96rpx;
		font-size: 2em;
	}
	&.lgs {
		width: 112rpx;
		height: 112rpx;
		font-size: 2em;
	}

	&.xl {
		width: 128rpx;
		height: 128rpx;
		font-size: 2.25em;
	}
	.avatar-text {
		font-size: .4em;
	}

	image {
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: inherit;
		top: 0;
		left: 0;
	}
	&-group {
		direction: rtl;
		unicode-bidi: bidi-override;
		padding: 0 10rpx 0 40rpx;
		display: inline-block;
		& .cu-avatar {
			margin-left: -30rpx;
			border: 4rpx solid #f1f1f1;
			vertical-align: middle;
		}
		& cu-avatar.sm {
			margin-left: -20rpx;
			border: 1rpx solid #f1f1f1;
		}
	}
}
