/* ==================
          栅栏
 ==================== */

@mixin make_col($screen) {
	@for $i from 1 through 12 {
		.cu-col-#{$screen}-#{$i} {
			width: #{100% / 12 * $i};
		}
		.cu-cols-#{$screen}-#{$i} .cu-item {
			width: #{100% / $i};
		}
	}
}
.cu-container {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30rpx;
	padding-right: 30rpx;
	width: 100%;
	max-width: 1440px;
	&-fluid{
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
.cu-grid {
	display: flex;
	flex-wrap: wrap;
	&.grid-square {
		overflow: hidden;
		> .cu-item {
			margin-right: 20rpx;
			margin-bottom: 20rpx;
			position: relative;
			overflow: hidden;
		}
		@for $i from 1 through 12 {
			&.cu-cols-#{$i} > .cu-item {
				padding-bottom: calc((100% - #{20rpx * ($i - 1)}) / #{$i});
				height: 0;
				width: calc((100% - #{20rpx * ($i - 1)}) / #{$i});
			}
		}
		@for $i from 1 through 12 {
			&.cu-cols-#{$i} > .cu-item:nth-child(#{$i}n) {
				margin-right: 0;
			}
		}
	}
}
@for $i from 1 through 12 {
	.cu-cols-#{$i} .cu-item {
		width: #{100% / $i};
	}
}
@for $i from 1 through 12 {
	.cu-col-#{$i} {
		width: #{100% / 12 * $i};
	}
}
// 小屏
@media screen and (min-width: 0px) {
	@include make_col('xs');
}

// 小屏
@media screen and (min-width: 320px) {
	@include make_col('sm');
}

// 中屏
@media screen and (min-width: 768px) {
	@include make_col('md');
}

// 普通屏
@media screen and (min-width: 1025px) {
	@include make_col('lg');
}

// 大屏
@media screen and (min-width: 1440px) {
	@include make_col('xl');
}

// 超大屏
@media screen and (min-width: 1920px) {
	@include make_col('xxl');
}
