/* ==================
         进度条
 ==================== */
.cu-progress {
	overflow: hidden;
	height: 28rpx;
	background-color: #ebeef5;
	display: inline-flex;
	align-items: center;
	width: 100%;
	& + view,
	& + text {
		line-height: 1;
	}
	&.xs {
		height: 10rpx;
	}
	&.sm {
		height: 20rpx;
	}
	& view {
		width: 0;
		height: 100%;
		align-items: center;
		display: flex;
		justify-items: flex-end;
		justify-content: space-around;
		font-size: 20rpx;
		color: var(--white);
		transition: width .6s ease;
	}
	& text {
		align-items: center;
		display: flex;
		font-size: 20rpx;
		color: #666;
		text-indent: 10rpx;
	}
	&.text-progress {
		padding-right: 60rpx;
	}
	&.striped view {
		background-image: linear-gradient(
			45deg,
			rgba(255, 255, 255, .15) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, .15) 50%,
			rgba(255, 255, 255, .15) 75%,
			transparent 75%,
			transparent
		);
		background-size: 72rpx 72rpx;
	}
	&.active view {
		animation: progress-stripes 2s linear infinite;
	}
}
@keyframes progress-stripes {
	from {
		background-position: 72rpx 0;
	}
	to {
		background-position: 0 0;
	}
}