/* ==================
          阴影
 ==================== */
.shadow {
	box-shadow: 0 0 30rpx rgba(0, 0, 0, .06);
	&-sm {
		box-shadow: 0 0 12rpx rgba(0, 0, 0, .06);
	}
	&-lg {
		box-shadow: 0 0 60rpx rgba(0, 0, 0, .1);
	}
	&-inset {
		box-shadow: inset 0 0 20rpx rgba(0, 0, 0,.5);
	}
	@each $color, $value in $colors {
		@at-root .shadow-#{$color} {
			box-shadow: 0 0 30rpx rgba(darken($value,10%), .9);
		}
		&-sm.shadow-#{$color} {
			box-shadow: 0 0 12rpx rgba(darken($value,10%), .9);
		}
		&-lg.shadow-#{$color} {
			box-shadow: 0 0 60rpx rgba(darken($value,10%), .9);
		}
		&-inset.shadow-#{$color} {
			box-shadow: inset 0 0 20rpx rgba(darken($value,20%), 1);
		}
	}
	@each $value in (a, b, c, d, e) {
		@at-root .main-#{$value}-shadow {
			box-shadow: 0 0 30rpx var(--main-#{$value});
		}
		&-sm.main-#{$value}-shadow {
			box-shadow: 0 0 12rpx var(--main-#{$value});
		}
		&-lg.main-#{$value}-shadow {
			box-shadow: 0 0 60rpx var(--main-#{$value});
		}
		&-inset.main-#{$value}-shadow {
			box-shadow: inset 0 0 20rpx var(--main-#{$value});
		}
	}

	&-warp {
		position: relative;
		box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, .06);
	}
	&-warp:before,
	&-warp:after {
		position: absolute;
		content: '';
		bottom: -10rpx;
		left: 20rpx;
		width: calc(50% - #{40rpx});
		height: 30rpx;
		transform: skew(0deg, -6deg);
		transform-origin: 50% 50%;
		background-color: rgba(0, 0, 0, .5);
		filter: blur(20rpx);
		z-index: -1;
		opacity: .5;
	}
	&-warp:after {
		right: 20rpx;
		left: auto;
		transform: skew(0deg, 6deg);
	}
	&-blur {
		position: relative;
	}
	&-blur::before {
		content: '';
		display: block;
		background: inherit;
		filter: blur(20rpx);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 20rpx;
		left: 20rpx;
		z-index: -1;
		opacity: .5;
		transform-origin: 0 0;
		border-radius: inherit;
		transform: scale(1, 1);
	}
}