/* ==================
          文本
 ==================== */

.text {
	@each $class, $value in $fontsize {
		&-#{$class},
		&-#{$value / 2} {
				font-size: #{$value}rpx !important;
			
		}
	}
	&-cut {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	@at-root [class*='text-linecut'] {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		word-break: break-all;
	}
	@for $i from 2 through 10 {
		&-linecut-#{$i} {
			-webkit-line-clamp: #{$i};
		}
	}
	&-justify {
		text-align: justify;
	}
	&-justify-line {
		text-align: justify;
		line-height: 0.5em;
		margin-top: 0.5em;
		&::after {
			content: '.';
			display: inline-block;
			width: 100%;
		}
	}

	&-Abc {
		text-transform: Capitalize !important;
	}
	&-ABC {
		text-transform: Uppercase !important;
	}
	&-abc {
		text-transform: Lowercase !important;
	}
	&-del,
	&-line {
		text-decoration: line-through !important;
	}
	&-bottomline {
		text-decoration: underline !important;
	}
	&-italic {
		font-style: italic !important;
	}
	&-style-none {
		text-decoration: none !important;
	}
	&-break {
		word-break: break-word !important;
		overflow-wrap: break-word !important;
	}
	&-reset {
		color: inherit !important;
	}
	&-price::before {
		content: '¥';
		font-size: 80%;
		margin-right: 4rpx;
	}
	&-hide {
		font: 0/0 a;
		color: transparent;
		text-shadow: none;
		background-color: transparent;
		border: 0;
	}
}
