
/* ==================
         时间轴
 ==================== */

.ui-timeline {
	display: block;
	background-color: #ffffff;
}

.ui-timeline .ui-time {
	width: 120rpx;
	text-align: center;
	padding: 20rpx 0;
	font-size: 26rpx;
	display: block;
}

.ui-timeline>.ui-item {
	padding: 30rpx 30rpx 30rpx 120rpx;
	position: relative;
	display: block;
	z-index: 0;
}

.ui-timeline>.ui-item:not([class*="text-"]) {
	color: #ccc;
}

.ui-timeline>.ui-item::after {
	content: "";
	display: block;
	position: absolute;
	width: 1rpx;
	background-color: #ddd;
	left: 60rpx;
	height: 100%;
	top: 0;
	z-index: 8;
}

.ui-timeline>.ui-item::before {
	font-family: "ui";
	display: block;
	position: absolute;
	top: 36rpx;
	z-index: 9;
	background-color: #ffffff;
	width: 50rpx;
	height: 50rpx;
	text-align: center;
	border: none;
	line-height: 50rpx;
	left: 36rpx;
}

.ui-timeline>.ui-item:not([class*="cui-"])::before {
	content: "\e763";
}

.ui-timeline>.ui-item[class*="cui-"]::before {
	background-color: #ffffff;
	width: 50rpx;
	height: 50rpx;
	text-align: center;
	border: none;
	line-height: 50rpx;
	left: 36rpx;
}

.ui-timeline>.ui-item>.content {
	padding: 30rpx;
	display: block;
}

.ui-timeline>.ui-item>.content+.content {
	margin-top: 20rpx;
}
