// 核心样式文件
@mixin theme-darkblue {
	
	// 页面
	--page-bg:                      #1b202f;
	--page-bg-sub:                  #151a29;
	--page-bg-dark:                 #0e1322;
	
	// 内容
	--box-bg:                       #262b44;	
	--box-bg-sub:                   #1f243d;	
	--box-filter:                   rgba(38, 43, 68, 0.85);
	
	// 默认边框
	--border-color:                 #3d3f57;
	
	// 文本等级
	--text-a:                       #e1f5ff;
	--text-b:                       #b6cad4;
	--text-c:                       #738791;
	--text-d:                       #4c606a;
	--text-e:                       #293d47;
} 