// 核心主题样式文件
@mixin theme-lightblue {
	
	// 页面
	--page-bg:                      #d3e7f1;
	--page-bg-sub:                  #cadee8;
	--page-bg-dark:                 #c2d6e0;
	
	// 内容
	--box-bg:                       #e1f5ff;	
	--box-bg-sub:                   #d8ecf6;	
	--box-filter:                   rgba(225, 245, 255, 0.85);
	
	// 默认边框
	--border-color:                 #b6cad4;
	
	// 文本等级
	--text-a:                       #202630;
	--text-b:                       #434852;
	--text-c:                       #686d77;
	--text-d:                       #90949e;
	--text-e:                       #b8bcc6;
} 
