// 核心主题样式文件
@mixin theme-light {
	
	// 页面
	--page-bg:                      #f1f1f1;
	--page-bg-sub:                  #e8e8e8;
	--page-bg-dark:                 #e0e0e0;
	
	// 内容
	--box-bg:                       #ffffff;	
	--box-bg-sub:                   #f6f6f6;	
	--box-filter:                   rgba(255, 255, 255, 0.85);
		
	// 默认边框
	--border-color:                 #d4d4d4;
	
	// 文本等级
	--text-a:                       #303030;
	--text-b:                       #525252;
	--text-c:                       #777777;
	--text-d:                       #9e9e9e;
	--text-e:                       #c6c6c6;
} 
