// 多主题
@if $enable-theme {
	.theme-light {
		@include theme-light;
	}
	.theme-dark {
		@include theme-dark;
	}
	.theme-darkblue {
		@include theme-darkblue;
	}
	.theme-lightblue {
		@include theme-lightblue;
	}
	.theme-auto {
		@include theme-light;
	}
	@media (prefers-color-scheme: dark) {
		.theme-auto {
			@include theme-dark;
		}
	}
} @else {
	.theme-light {
		@include theme-light;
	}
}

@each $value in (a, b, c, d) {
	.bg-main-#{$value} {
		background-color: var(--main-#{$value}) !important;
		color: var(--main-e) !important;
	}
	.text-main-#{$value} {
		color: var(--main-#{$value}) !important;
	}
	.text-#{$value} {
		color: var(--text-#{$value}) !important;
	}
}

.page-bg {
	background-color: var(--page-bg) !important;
	color: var(--text-a);
}
.page-bg-sub {
	background-color: var(--page-bg-sub) !important;
	color: var(--text-a);
}
.page-bg-dark {
	background-color: var(--page-bg-dark) !important;
	color: var(--text-a);
}

.box-bg {
	background-color: var(--box-bg) !important;
	color: var(--text-a);
}
.box-bg-sub {
	background-color: var(--box-bg-sub) !important;
	color: var(--text-a);
}
// 主题色
@each $color, $value in $colors{
	// @include bg-variant('.bg-#{$color}', $value);
	.main-#{$color} {
		--main-a: $value;
		// --main-b: mix(white, $value, 25de);
		// --main-c: adjust-hue($value, 45de);
		// --main-d: mix(white, $value, 50de);
		
		// --main-b: mix($white,adjust-hue($value, 10deg), 20%);
		// --main-c: mix($yellow,adjust-hue($value, 15deg), 30%);
		// --main-d: mix($yellow,adjust-hue($value, 20deg), 40%);
		--main-b: mix($white,desaturate($value, 20%), 10%);
		--main-c: mix($white,desaturate($value, 40%), 20%);
		--main-d: mix($white,desaturate($value, 60%), 30%);
		
		@if $color == 'yellow' {
			--main-e: #333333 !important;
		} @else {
			--main-e: #ffffff !important;
		}
	}
}
