rich-text {
	table {
		width: 100%;
		max-width: 100%;
		display: table;
		border-spacing: 0;
		border-collapse: separate;
		border-left: none;
		margin: 0;
		border: 1px solid var(--border-color);
		thead {
			display: table-header-group;
			th {
				font-weight: bold;
				border-bottom: 1px solid var(--border-color);
			}
			&:first-child > tr:first-child > td,
			&:first-child > tr:first-child > th {
				border-top: 0;
			}
		}
		tr {
			display: table-row;
			&:first-child > td,
			&:first-child > th {
				border-top: 1px solid var(--border-color);
			}
		}
		tbody {
			display: table-row-group;
			& > tr:nth-child(2n + 1) > td,
			& > tr:nth-child(2n + 1) > th {
				background-color: var(--page-bg);
			}
		}
		td,
		th {
			display: table-cell;
			text-align: unset;
			padding: 14rpx;
			border-top: 1px solid var(--border-color);
			border-left: 1px solid var(--border-color);
		}
	}
}

.cu-table {
	&.table-full {
		width: 100%;
	}
	max-width: 100%;
	display: table;
	border-radius: $radius;
	.cu-table-header {
		display: table-header-group;
		.cu-table-th {
			font-weight: bold;
			border-bottom: 1px solid var(--border-color);
			white-space: nowrap;
			&:first-child {
				border-top-left-radius: $radius;
			}
			&:last-child {
				border-top-right-radius: $radius;
			}
		}
	}

	.cu-table-tr {
		display: table-row;
	}

	.cu-table-body {
		display: table-row-group;
	}

	.cu-table-td,
	.cu-table-th {
		display: table-cell;
		text-align: unset;
		padding: 20rpx;
		font-size: 90%;
		vertical-align: middle;
	}
}

.cu-table.table-border {
	&,& .cu-table-td, & .cu-table-th {
		position: relative;
		&::after {
			content: ' ';
			width: 200%;
			height: 200%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: inherit;
			transform: scale(0.5);
			transform-origin: 0 0;
			pointer-events: none;
			box-sizing: border-box;
			border: 1px solid var(--border-color);
		}
	}
	.cu-table-td,
	.cu-table-th {
		&::after {
			border-width: 1px 1px 0 0;
		}
		&:last-child::after {
			border-right: none;
		}
	}
}
.cu-table.table-striped > .cu-table-body > .cu-table-tr:nth-child(2n + 1) > .cu-table-td,
.cu-table.table-striped > .cu-table-body > .cu-table-tr:nth-child(2n + 1) > .cu-table-th {
	background-color: var(--page-bg);
}
