.ui-tag {
	font-size: .85714286em;
	vertical-align: middle;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: .5833em .833em;
	white-space: nowrap;
	background-color: var(--ui-BG-3);
	border-radius: $radius;
	line-height: 1;
	margin: 0 .14286em;
	&.sm {
		transform: scale(0.8);
		margin: 0 0.02em 0 0;
	}
	&.lg {
		font-size: 1em;
	}
	&.xl {
		font-size: 1.2em;
	}
	&.xxl {
		font-size: 1.4em;
	}
	&.sl {
		font-size: 1.6em;
	}
	&.img {
		padding: .5833em .833em .5833em .5em;
		.tag-img {
			margin: -.5833em .5em -.5833em -.5em;
			width: 2.1666em;
			height: 2.1666em;
			border-radius: $radius 0 0 $radius;
		}
	}
	&.badge {
		border-radius: 200rpx;
		position: absolute;
		z-index: 1;
		margin: 0;
		font-size: 2em;
		top: 0;
		right: 0;
		transform: scale(0.3) translateX(0.5em) translatey(-0.6em);
		transform-origin: 100% 0;
		padding: 0.4em 0.6em 0.3em;
		&.badge-br{
			top: auto;
			bottom: 0;
			right: 0;
			transform: scale(0.3) translateX(0.5em) translatey(0.4em);
			transform-origin: 100% 100%;
		}
		&.badge-bl{
			top: auto;
			bottom: 0;
			right: auto;
			left: 0;
			transform: scale(0.3) translateX(-0.5em) translatey(0.4em);
			transform-origin: 0 100%;
		}
		&.badge-tl{
			right: auto;
			left: 0;
			transform: scale(0.3) translateX(-0.5em) translatey(-0.6em);
			transform-origin: 0 0;
		}
	}

	&.badge:not([class*='bg-']) {
		background-color: $red;
		color: $white;
	}

	&:empty:not([class*='icon']) {
		padding: 0px;
		width: 1.2em;
		height: 1.2em;
	}
	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-right: 0;
	}
}